/* 0. FONTS */
@font-face {
    font-family: "Hey August";
    src: url("/fonts/hey_august/Hey August.ttf") format("truetype"),
         url("/fonts/hey_august/Hey August.otf") format("opentype");
}

@font-face {
    font-family: "Colombia";
    src: url("/fonts/colombia/colombia.ttf") format("truetype");
}



/* 1. BASE STYLE */

body {
    background-color: #ECF5EE;
    margin: 0;
    padding: 0;
}


h1, h2 {
    font-family: "Hey August", "Colombia", "comfortaa", "sans-serif";
    font-weight: normal;    
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}



/** HEADER */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

    nav {
        display: flex;
    
        .home,
        .contact {
            margin-top: 40px;
            margin-left: -12px;
            display: flex;
        }

        .blog {
            margin-top: -80px;
            margin-left: -12px;
            display: flex;
        }

        .link-menu {
            font-size: 3em;
            font-family: "hey august", "colombia", fantasy, sans-serif;
            font-weight: normal;
            color: #000;
            text-decoration: none;
        }

        .triangle:nth-child(1) {
            display : inline-block;
            height : 0;
            width : 0;
            border-right : 58px solid transparent;
            border-bottom : 100px solid #DF7F8F;
            border-left : 58px solid transparent;
        }
        
        .triangle:nth-child(2) {
            display : inline-block;
            height : 0;
            width : 0;
            border-top : 100px solid #7FDFAC;
            border-right : 58px solid transparent;
            border-left : 58px solid transparent;
        }

        .triangle:nth-child(3) {
            display : inline-block;
            height : 0;
            width : 0;
            border-right : 58px solid transparent;
            border-bottom : 100px solid #7F8CDF;
            border-left : 58px solid transparent;

        
        }

       
    }
}